# Copie este arquivo para .env e preencha com suas credenciais do DagsHub
# NUNCA commite o arquivo .env no Git!

# Seu nome de usuário no DagsHub
DAGSHUB_USER=xxxxx

# Nome do repositório criado no DagsHub
DAGSHUB_REPO=xxxxx

# Token de acesso: dagshub.com → User Settings → Tokens → New Token
DAGSHUB_TOKEN=xxxxx
HF_TOKEN=xxxxx

# Supabase
SUPABASE_URL=xxxxxxxxx
SUPABASE_KEY=sxxxxx
SUPABASE_SERVICE_KEY=xxxxx
SUPABASE_DB_HOST=xxxx
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=xxxxx