.git
.gitignore
.env
__pycache__
*.pyc
*.pyo
*.egg-info
.pytest_cache
.venv
venv
node_modules
*.log
Rotatividade-de-clientes-de-telecomunica-es-main/
wine_project/__pycache__/
wine_project/data/raw/
wine_project/mlruns/
wine_project/.streamlit/

# Ignorar apenas o cache local do DVC (pesado), mas manter a config
.dvc/cache/
.dvc/tmp/
