SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_TABLE=wine_quality

DAGSHUB_USERNAME=
DAGSHUB_TOKEN=
DAGSHUB_REPO_NAME=

MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT=wine-quality-binary
MLFLOW_MODEL_NAME=wine-quality-binary

DATABASE_URL=

POSTGRES_DB=wine_db
POSTGRES_USER=wine_user
POSTGRES_PASSWORD=CHANGE_ME
